<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


<script src="~/js/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(document).ready(function () {
        $('#textboxKeyword').keyup(function () {
            var Keyword = $('#textboxKeyword').val();
            console.log(Keyword);
            $.ajax({
                type: 'GET',
                data: {
                    keyword: Keyword
                },
                url: '/product/searchByKeyword',
                success: function (products) {
                    var result = "";
                    for (var i = 0; i < products.length; i++) {
                        result += '<tr style="border: 1px solid black">';
                        result += '<td style="border: 1px solid black">' + products[i].id + '</td>';
                        result += '<td style="border: 1px solid black">' + products[i].name + '</td>';
                        result += '<td style="border: 1px solid black">' + products[i].price + '</td>';
                        result += '</tr>';
                        $('#tableProduct tbody').html(result);
                    }
                }
            });
        });

        $('#comboboxPrices').change(function () {
            var Value = $('#comboboxPrices option:selected').val();
            alert(Value);
            $.ajax({
                type: 'GET',
                data: {
                    value: Value
                },
                url: '/product/searchByPrice',
                success: function (products) {
                    var result = '';
                    for (var i = 0; i < products.length; i++) {
                        result += '<tr>'
                        result += '<td>' + products[i].id + '</td>';
                        result += '<td>' + products[i].name + '</td>';
                        result += '<td>' + products[i].price + '</td>';
                        result += '</tr>'
                        $('#tableProduct tbody').html(result);
                    }
                }
            });
        });

        $('#textboxAutoComplete').autocomplete({
            source: '/product/autocomplete'
        });
    });
</script>

<h3>Product List</h3>

<table style="border: 1px solid black" id="tableProduct">
    <thead>
        <tr style="border: 1px solid black">
            <th style="border: 1px solid black">ID</th>
            <th style="border: 1px solid black">Name</th>
            <th style="border: 1px solid black">Price</th>
        </tr>
        <tr>
            <td><input type="text" id="textboxAutoComplete"/></td>
            <td>
                <input type="text" id="textboxKeyword" />
            </td>
            <td>
                <select id="comboboxPrices">
                    <option value="all">All</option>
                    <option value="1to10">1 to 10</option>
                    <option value="10to20">10 to 20</option>
                    <option value="20to50">20 to 50</option>
                    <option value="50to100">50 to 100</option>
                    <option value="100toabove">Above 100</option>
                </select>
            </td>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in ViewBag.products)
        {
            <tr style="border: 1px solid black">
                <td style="border: 1px solid black">@product.Id</td>
                <td style="border: 1px solid black">@product.Name</td>
                <td style="border: 1px solid black">@product.Price</td>
            </tr>
        }
    </tbody>


</table>