<h3>Login</h3>

<h3>@ViewBag.msg</h3>

<form method="post" asp-controller="login" asp-action="process">
    Username <input type="text" name="username"/><br />
    Password <input type="password" name="password"/><br />
    <input type="submit" value="Submit"/>
</form>