<h1>Index</h1>
<a asp-controller="demo" asp-action="index2">Menu 1</a>
<a asp-controller="demo" asp-action="index3" asp-route-id="123">Menu 2</a>
<a asp-controller="demo" asp-action="index4" asp-route-id1="345" asp-route-id2="darkwillow">Menu 3</a>
<a asp-controller="product" asp-action="index">Menu 4</a>
<a asp-controller="demo" asp-action="index5" asp-route-id=123>Menu 5</a>
<a asp-controller="demo" asp-action="index6" asp-route-id=123  asp-route-id2="dragon">Menu 6</a>