<h3>Dashboard</h3>

<a asp-area="admin" asp-controller="dashboard" asp-action="index2" asp-route-id="123">Admin Index 2</a>
<link href="~/css/StyleSheet.css" rel="stylesheet"/>
<br /> <br />
<img src="~/images/axe_immortal.jpg"/>