
<h3>Demo 3</h3>

<strong>@ViewBag.msg</strong>

<form method="post" asp-controller="demo" asp-action="signin">
    Username <input type="text" name="username" />
    Password <input type="password" name="password" />
    <br />
    <input type="submit" value="Sign-In" />
</form>