<h3>Upload File</h3>

<form method="post" enctype="multipart/form-data" asp-controller="demo" asp-action="upload2">
    Photo <input type="file" multiple="multiple" name="photos"/>
    <br />
    <input type="submit" value="Upload"/>
</form>