<h3>Demo Controller</h3>
<a asp-controller="demo" asp-action="menu1">Menu 1</a>
<a asp-controller="demo" asp-action="menu2">Menu 2</a>
<a asp-controller="demo" asp-action="menu3">Menu 3</a>
<a asp-controller="demo" asp-action="menu4">Menu 4</a>
<a asp-controller="account" asp-action="login">Login 4</a>