<h3>Product List</h3>
<form method="post" asp-controller="product" asp-action="search1">
    Keyword <input type="text" name="keyword"/>
    <input type="submit" value="Search"/>
</form>

<form method="post" asp-controller="product" asp-action="search2">
    Min <input type="text" name="min" />
    Max <input type="text" name="max" />
    <input type="submit" value="Search" />
</form>

<table style="border: 1px solid black">
    <tr style="border: 1px solid black">
        <th style="border: 1px solid black">ID</th>
        <th style="border: 1px solid black">Name</th>
        <th style="border: 1px solid black">Price</th>
        <th style="border: 1px solid black">Created</th>
    </tr>
    @foreach (var product in ViewBag.products)
    {
        <tr style="border: 1px solid black">
            <td style="border: 1px solid black">@product.Id</td>
            <td style="border: 1px solid black">@product.Name</td>
            <td style="border: 1px solid black">@product.Price</td>
            <td style="border: 1px solid black">@product.Created.ToString("dd/MM/yyyy")</td>
        </tr>
    }
</table>